## Operators in python

#### Arithmetic operators

In [8]:
a,b = 7,5
print('a+b = ',a+b)
print('a-b = ',a-b)
print('a*b = ',a*b)
print('a/b = ',a/b)
print('a//b = ',a//b)
print('a%b = ',a%b)
print('a**b = ',a**b)

a+b =  12
a-b =  2
a*b =  35
a/b =  1.4
a//b =  1
a%b =  2
a**b =  16807

In [12]:
a * * b

SyntaxError: invalid syntax (537143806.py, line 1)

In [13]:
3*5-2

13

In [14]:
3*5/2

7.5

In [4]:
3/5*2

1.2

In [1]:
2**2**3

256

You can learn more about operators precedence from [this link](https://www.programiz.com/python-programming/precedence-associativity).

In [2]:
(2**2)**3

64

##### Comparision Operators

In [15]:
a,b = 1,2
print('a>b :' ,a>b)  # is a strictly larger than b?
print('a>=b :',a>=b) # is a larger than or equal to b?
print('a<b :' ,a<b)  # is a strictly less than b?
print('a<=b :',a<=b) # is a less than or equal to b?
print('a==b :',a==b) # is a equal to b?
print('a!=b :',a!=b) # is a not equal to b?

a>b : False
a>=b : False
a<b : True
a<=b : True
a==b : False
a!=b : True

In [16]:
a,b = 1,2
a=>b

SyntaxError: invalid syntax (2231250520.py, line 2)

In [19]:
a == b

False

##### Assignment Operators

In [20]:
x = 4

In [21]:
4 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1228457407.py, line 1)

In [24]:
x = 4
x = x + 4
print(x)

8

In [25]:
x = 4
x += 4 # x = x + 4
print(x)

8

In [26]:
x = 4
x + = 4
print(x)

SyntaxError: invalid syntax (913594002.py, line 2)

In [27]:
x = 4
x -= 4 # x = x - 4
print(x)

0

In [28]:
x = 4
x *= 4 # x = x * 4
print(x)

16

In [29]:
x = 4
x /= 4 # x = x / 4
print(x)

1.0

In [30]:
x = 4
x //= 4 # x = x // 4
print(x)

1

In [31]:
x = 4
x %= 4 # x = x % 4
print(x)

0

In [32]:
x = 4
x **= 4 # x = x ** 4
print(x)

256

#### Membership Operators

In [33]:
numbers = [1,2,3,4,5]

print(3 in numbers)
print(7 in numbers)

True
False

In [34]:
numbers = [1,2,3,4,5]

print(3 not in numbers)
print(7 not in numbers)

False
True

#### Logical Operators

In [37]:
6 > 5

True

In [38]:
not 6 > 5

False

In [43]:
light = True
electricity = True

light and electricity

True

In [46]:
condition1 = False
condition2 = False

condition1 or condition2

False

In [49]:
n = 10

n > 7

True

In [52]:
n = 5

n > 7 and n < 18

False

In [55]:
n = 19

7 < n < 18

False

In [58]:
n = 19

n < 7 or n > 18

True

#### Same Operators for Strings

In [59]:
text1 = 'hello'
text2 = 'from python'

text1 + text2 # concatenate

'hellofrom python'

In [60]:
text = '1, '

text*5

'1, 1, 1, 1, 1, '

In [61]:
text1 = 'hello'
text2 = 'from python'

text1 * text2

TypeError: can't multiply sequence by non-int of type 'str'

#### Comparison Operators for strings

In [62]:
a = 'Python'
b = 4

a>b

TypeError: '>' not supported between instances of 'str' and 'int'

In [64]:
name1 = 'Aliasghar'
name2 = 'Aliakbar'

name1>name2 # Lexicographical comparison

False

In [65]:
name1 = 'AliAkbar'
name2 = 'Aliakbar'

name1<name2 # Lexicographical comparison

True

In [66]:
name1 = 'AliAkbar'
name2 = 'Aliakbar'

name1==name2 # Lexicographical comparison

False